body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282828;
    height: 100vh;
    margin: 0;
}

.phone {
    background-color: #1e1e1e;
    border: 5px solid #333;
    width: 300px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.screen {
    background-color: #635f5f;
    border: 3px solid #555;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0;
    font-size: 1.5rem;
    padding: 10px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key {
    background-color: #939191;
    border: 3px solid #444;
    color: #fff;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:active {
    background-color: #666;
}

#clear {
    grid-column: span 3;
    background-color: green;
    color: white;

    i {
        margin-right: 10px;
    }
}
