body {
    margin: 0;
    padding: 0;
    background-color: black;

    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        width: 75px;
        height: 75px;
    }
}